<div class="py-5 text-center">
  <h2>Subscription</h2>
</div>

<div class="row">
  <div class="col-lg-2">

  </div>
  <div class="col-md-8 col-lg-8">

    <form [formGroup]="form" (ngSubmit)="souscription()">
      <div class="row">
        <div class="col-md-12 mb-3">
          <label for="address" class="form-label">Name of company</label>
          <input type="text" class="form-control needs-validation" formControlName="companyName" id="companyName" placeholder="" autocomplete="off">
          <small class="text-danger"
                 *ngIf="form.get('companyName')?.touched && form.get('companyName')?.hasError('required')">Required field</small>
        </div>
        <div class="col-md-12 mb-3">
          <label for="Main" class="form-label">Main objective of the request</label>
          <select class="form-select" formControlName="purpose" id="purpose" required>
            <option value="" [disabled]="true">Select an option</option>
            <option *ngFor="let purpose of purposes" [value]="purpose.id">{{purpose.designation}}</option>
          </select>
          <small class="text-danger"
                 *ngIf="form.get('purpose')?.touched && form.get('purpose')?.hasError('required')">Required field</small>
        </div>

        <div class="col-md-12 mb-3">
          <label for="Type" class="form-label">Type of entity</label>
          <select class="form-select" formControlName="typeEntity" id="country" required>
            <option value="" [disabled]="true">Select an option</option>
            <option *ngFor="let typeEntity of typeEntities" [value]="typeEntity.id">{{typeEntity.designation}}</option>
          </select>
          <small class="text-danger"
                 *ngIf="form.get('typeEntity')?.touched && form.get('typeEntity')?.hasError('required')">Required field</small>
        </div>
        <div class="col-md-12 mb-3">
          <label for="Business" class="form-label">Business activity</label>
          <select class="form-select" formControlName="businessActivity" id="country">
            <option value="" [disabled]="true">Select an option</option>
            <option *ngFor="let business of businesses" [value]="business.id">{{business.designation}}</option>
          </select>
          <small class="text-danger"
                 *ngIf="form.get('businessActivity')?.touched && form.get('businessActivity')?.hasError('required')">Required field</small>
        </div>
        <div class="col-md-12 mb-3">
          <label for="Country" class="form-label">Country of incorporation</label>
          <select class="form-select" formControlName="country" id="country">
            <option value="" [disabled]="true">Select an option</option>
            <option *ngFor="let country of countries" [value]="country.id">{{country.designation}}</option>
          </select>
          <small class="text-danger"
                 *ngIf="form.get('country')?.touched && form.get('country')?.hasError('required')">Required field</small>
        </div>
        <div class="col-md-12 mb-3">
          <label for="Registration" class="form-label">Registration number</label>
          <input type="text" class="form-control" formControlName="registrationNumber" id="registrationNumber" autocomplete="off">
          <small class="text-danger"
                 *ngIf="form.get('registrationNumber')?.touched && form.get('registrationNumber')?.hasError('required')">Required field</small>
        </div>
        <div class="col-md-12 mb-3">
          <label for="Date" class="form-label">Date of incorporation</label>
          <input type="date" formControlName="dateIncorporation" class="form-control" id="address">
          <small class="text-danger"
                 *ngIf="form.get('dateIncorporation')?.touched && form.get('dateIncorporation')?.hasError('required')">Required field</small>
        </div>
        <div class="col-md-12 mb-3">
          <label for="NameDir" class="form-label">Name of Director/ Shareholders</label>
          <input type="text" class="form-control" formControlName="directorName" id="address" autocomplete="off">
          <small class="text-danger"
                 *ngIf="form.get('directorName')?.touched && form.get('directorName')?.hasError('required')">Required field</small>
        </div>
        <div class="col-md-12 mb-3">
          <label for="Passport" class="form-label">Passport number of directors</label>
          <input type="number" class="form-control" formControlName="passportNumber" id="address" autocomplete="off">
          <small class="text-danger"
                 *ngIf="form.get('passportNumber')?.touched && form.get('passportNumber')?.hasError('required')">Required field</small>
        </div>
        <div class="col-md-12 mb-3">
          <label for="address" class="form-label">Name of designated applicant</label>
          <input type="text" class="form-control" formControlName="designatedName" id="address" autocomplete="off">
          <small class="text-danger"
                 *ngIf="form.get('designatedName')?.touched && form.get('designatedName')?.hasError('required')">Required field</small>
        </div>

        <div class="col-12 mb-3">
          <label for="email" class="form-label">Email address for further communication</label>
            <input type="text" class="form-control" formControlName="email" id="email" autocomplete="off">
          <small class="text-danger"
                 *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">Required field</small>
            <small class="text-danger"
                   *ngIf="!form.get('email')?.hasError('required') && form.get('email')?.hasError('invalidEmail')">Invalid email address</small>
        </div>

      </div>
      <hr class="my-4">

      <button class="w-100 btn btn-secondary btn-lg" [disabled]="!form.valid" type="submit">Subscribe</button>
    </form>
  </div>
  <div class="col-md-2 col-lg-2">

  </div>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
</footer>
